.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.backdrop img {
  max-height: auto;
  max-width: 70%;
  display: block;
  margin: 2rem auto;
  border: 3px solid white;
}

.left {
  z-index: 10;
  font-size: 1.5rem;
  padding: 1rem 1.4rem;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateX(-50%);
  border-radius: 50%;
  color: white;
  background-color: black;
}

.right {
  z-index: 10;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  padding: 1rem 1.4rem;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateX(-50%);
  border-radius: 50%;
}
